/*this is the formatting to make page 1 of the website look nice*/
body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: navy;
   background-color: #f7e7ce 
}

#title {
   color: navy;
   font-weight: bold;
   font-size: 50px;
}

h1 {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: navy;
   font-weight: normal;
   font-size: 24px;
}

.questions {
   color: cornflowerblue;
}

.btn {
   color: black
   background-color white;
}

